//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal;
  margin-bottom: @line-height-computed;
  list-style: none;
  background-color: @breadcrumb-bg;
  border-radius: @border-radius-base;

  > li {
    display: inline-block;

    + li:before {
      content: "@{breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: @breadcrumb-color;
    }
  }

  > .active {
    color: @breadcrumb-active-color;
  }
}

.breadcrumb li a{
  color: #747474;
}
.breadcrumb{
  margin: 0;
  padding-bottom: 0;
  padding-top: 20px;
  padding-left: 10px;
  font-weight: bold;
  background-color: transparent;
  color: #3b8c38;
}
.breadcrumb .active{
  color: #3b8c38;
}
