@import url(http://fonts.googleapis.com/css?family=Jura);

@font-face {
  font-family: 'bebas_neueregular';
  src: url('/fonts/bebasneue-webfont.eot');
  src: url('/fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/bebasneue-webfont.woff') format('woff'),
  url('/fonts/bebasneue-webfont.ttf') format('truetype'),
  url('/fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
}
