a{
  text-decoration: none !important;
}
.wrapper{
  top: 0px;
  @media (min-width: @screen-md-min) {
    border-left: 5px solid rgba(176, 175, 175, 0.86);
    border-right: 5px solid rgba(176, 175, 175, 0.86);
  }
  position: absolute;
  padding: 70px 17px 20px 17px !important;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.90);
  margin-left: -26px;
}

@media (max-width: @screen-md-min) {
  .wrapper {
    background-color: #f6f6f6;
  }
  body{
    background-color: #f6f6f6;
  }
}

body{
  border: 1px solid transparent;
  @media (min-width: @screen-md-min) {
    background: url('/img/achter1.jpg') no-repeat center center fixed;
  }
  background-size: 100% 100% !important;
  height: 100%;
}
// Header
.header-img{
  margin-top: -30px;
  width: 100%;
}

// Flexslider
.flex-control-nav{
  bottom: 20px;
}
img.slider-img{
  height: auto;
}
.flexslider-main-text{
  position: absolute;
  z-index: 90000;
  color: #ffffff;
  cursor: context-menu;
  padding: 20px;
  background-color: rgba(47, 46, 46, 0.70);
  top: 140px;
  width: 400px;
}
h2.flexslider-main-h2{
  font-family: bebas_neueregular, arial;
  font-size: 30px;
}
p.flexslider-main-p{
  font-size: 16px;
  font-family: 'Jura', sans-serif;
}
.btn-flex-main{
  width: 100px;
  font-family: bebas_neueregular, arial;
}
.flexslider-main{
  margin-top: 14px;
}

// Col

.col-xs-4{
  background-color: transparent !important;
  border: none !important;
}

.col-bot{
  height: 380px;
}

// Speler col

.player-name{
  font-family: 'bebas_neueregular', sans-serif;
  background-color: rgba(47, 46, 46, 0.70);
  width: 250px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  font-size: 40px;
  text-align: center;
  margin-top: -100px;
  cursor: context-menu;
  z-index: 9999;
}

.player-img:hover + .player-name{
  background-color: rgba(17, 47, 17, 0.83);
}
.player-name:hover{
  background-color: rgba(17, 47, 17, 0.83);
}

// Verslagen col

.verslagen-block{
  margin-left: 15px;
  color: #454545;
  margin-top: 50px;
}
h3.verslagen-titel{
  font-family: 'bebas_neueregular', sans-serif;
}

.verslag-read-more{
  color: #de1a1e;
  font-family: 'Jura', sans-serif;
}

// Bottom row
.bottom-row{
  .verslag-col{
    height: 380px;
    background-clip:content-box;
    background-color: #f4fdf4 !important;
  }
}

// Foto col
.foto-naam{
  font-family: 'bebas_neueregular', sans-serif;
  color: #ffffff;
  min-width: 200px;
  font-size: 30px;
  margin-top: -80px;
  position: absolute;
  text-align: center;
  background-color: rgba(47, 46, 46, 0.70);
}
.foto-1:hover + .foto-naam-1{
  background-color: rgba(17, 47, 17, 0.83);
}
.foto-naam-1:hover{
  background-color: rgba(17, 47, 17, 0.83);
}
.foto-2:hover + .foto-naam-2{
  background-color: rgba(17, 47, 17, 0.83);
}
.foto-naam-2:hover{
  background-color: rgba(17, 47, 17, 0.83);
}
