.verslag-manager-button {
  color: white !important;
  left: 630px;

  margin-bottom: 0;
  position: absolute;
  width: 170px;
  display: inline-block;
  font-family: 'bebas_neueregular', sans-serif;
  border-right: 30px solid transparent;
  border-top: 25px solid @heer-red;
  text-align: center;

  p{
    margin-top: -27px;
    font-size: 20px;
  }
}

.foto-manager-button {
  color: white !important;
  width: 170px;
  display: inline-block;
  font-family: 'bebas_neueregular', sans-serif;
  border-left: 30px solid transparent;
  border-bottom: 25px solid @heer-green;
  text-align: center;

  p{
    margin-bottom: -27px;
    font-size: 20px;
    margin-top: 0;
  }
}

.verslag-manager-button-empty {
  color: white !important;
  left: 630px;

  margin-bottom: 0;
  position: absolute;
  width: 170px;
  display: inline-block;
  font-family: 'bebas_neueregular', sans-serif;
  border-right: 30px solid transparent;
  border-top: 25px solid #aeaeae;
  text-align: center;

  p{
    margin-top: -27px;
    font-size: 20px;
  }
}

.foto-manager-button-empty {
  color: white !important;
  width: 170px;
  display: inline-block;
  font-family: 'bebas_neueregular', sans-serif;
  border-left: 30px solid transparent;
  border-bottom: 25px solid #aeaeae;
  text-align: center;

  p{
    margin-bottom: -27px;
    font-size: 20px;
    margin-top: 0;
  }
}

a.verslag-manager-button:focus{
  outline: 0;
}
a.foto-manager-button:focus{
  outline: 0;
}
.image_picker_image{
  width: 150px !important;
  height: 150px !important;
}
.thumbnail{
  margin-bottom: 0 !important;
}
.image_picker_selector{
  margin-left: 30px !important;
}
