// Logo
.logo-left{
  background-color: @heer-green;
  width: 170px;
  height: 100px;
}
.logo-right{
  background-color: @heer-red;
  width: 170px;
  height: 100px;
}
.logo{
  position: absolute;
  margin-top: 10px;
  margin-left: 83px;
}

// Nav links
.nav{
  font-size: 20px;
  margin-left: -27px !important;
}
.nav-links{
  margin-top: 65px !important;
}
.navbar{
  margin-top: -70px;
}