a.nieuws-block{
  color: #454545;
}
a.nieuws-block:hover{
  text-decoration: none;
}
a.nieuws-block:hover > .media{
  background-color: #f5f5f5;
}

.media-object{
  margin-right: 10px;
}
.media{
  margin-top: 30px;
}
h3.media-heading{
  font-family: 'bebas_neueregular', sans-serif;
  margin-bottom: 0;
}

a.nieuws-title{
  color: #333333 !important;
}

.nieuws-read-more{
  color: @heer-red;
}
