.ribbon-left {
  z-index: 999;
  padding: .15em 1em;
  margin: 0;
  top: 20px;
  margin-bottom: 10px;
  left: -1px;
  position:absolute;
  color: #ffffff;
  font: 32px 'bebas_neueregular', arial;
  text-align: left;
  letter-spacing:0.1em;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),
  inset 0px 0px 20px rgba(0,0,0,0.1),
  0px 1px 1px rgba(0,0,0,0.4);
  background-color: #c2191e;
  display: inline-block;
}

.ribbon-left:before {
  left:-1.35em;
  border-right-width: .75em;
  border-left-color:transparent;
}

.ribbon-left:after {
  right:-1.35em;
  border-left-width: .75em;
  border-right-color:transparent;
}

.content-left:before, .content-left:after {
  content:"";
  bottom:-.5em;
  position:absolute;
  display:block;
  border-style:solid;
  border-color: #731517 transparent transparent transparent;
  z-index:-1;
}

.content-left:before {
  left: 0;
  border-width: .5em 0 0 .5em;
}

.content-left:after {
  display: none;
}

/*
Ribbon Right
*/
.ribbon-right {
  z-index: 999;
  padding: .15em 1em;
  margin: 0;
  top: 20px;
  right: 0px;
  margin-bottom: 10px;
  position:absolute;
  color: #ffffff;
  font: 32px 'bebas_neueregular', arial;
  text-align: left;
  letter-spacing:0.1em;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),
  inset 0px 0px 20px rgba(0,0,0,0.1),
  0px 1px 1px rgba(0,0,0,0.4);
  background-color: #c2191e;
  display: inline-block;
}

.ribbon-right:before {
  left:-1.35em;
  border-right-width: .75em;
  border-left-color:transparent;
}

.ribbon-right:after {
  right:-1.35em;
  border-left-width: .75em;
  border-right-color:transparent;
}

.content-right:before, .content-right:after {
  content:"";
  bottom:-.5em;
  position:absolute;
  display:block;
  border-style:solid;
  border-color: #731517 transparent transparent transparent;
  z-index:-1;
}

.content-right:before {
  display: none
}

.content-right:after {
  right: 0;
  border-width: .5em .5em 0 0;
}

/*
Ribbon center
*/
.ribbon-center {
  z-index: 999;
  padding: .15em 1em;
  margin: 0;
  width: 100%;
  top: 20px;
  right: 0px;
  margin-bottom: 10px;
  position:absolute;
  color: #ffffff;
  font: 32px 'bebas_neueregular', arial;
  text-align: center;
  letter-spacing:0.1em;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),
  inset 0px 0px 20px rgba(0,0,0,0.1),
  0px 1px 1px rgba(0,0,0,0.4);
  background-color: #c2191e;
  display: inline-block;
}

.ribbon-center:before {
  left:-1.35em;
  border-right-width: .75em;
  border-left-color:transparent;
}

.ribbon-center:after {
  right:-1.35em;
  border-left-width: .75em;
  border-right-color:transparent;
}

.content-center:before, .content-center:after {
  content:"";
  bottom:-.5em;
  position:absolute;
  display:block;
  border-style:solid;
  border-color: #731517 transparent transparent transparent;
  z-index:-1;
}

.content-center:before {
  left: 0;
  border-width: .5em 0 0 .5em;
}

.content-center:after {
  right: 0;
  border-width: .5em .5em 0 0;
}


h2{
  margin: 0;
}



