.wedstrijden-table{
  font-size: 20px;
  margin-bottom: 0;

  td{
    border: none !important;
  }
}
.wedstrijd-buttons{
  float: right;
}
.wedstrijd-naam{
  width: 270px;
}
.wedstrijd-button{
  margin-left: -10px;
}
.wedstrijd-uitslag{
  font-weight: bolder;
  float: right;
  display: inline;
}
.wedstrijd-datum{
  margin-left: 35px;
}

.verslag-button {
  color: white !important;
  left: 560px;
  margin-top: 3px;
  margin-bottom: 0;
  position: absolute;
  width: 200px;
  display: inline-block;
  font-family: 'bebas_neueregular', sans-serif;
  border-right: 30px solid transparent;
  border-top: 25px solid @heer-red;
  text-align: center;

  p{
    margin-top: -27px;
    font-size: 22px;
  }
}

.verslag-button-empty {
  color: white !important;
  left: 560px;
  margin-top: 3px;
  margin-bottom: 0;
  position: absolute;
  width: 200px;
  display: inline-block;
  font-family: 'bebas_neueregular', sans-serif;
  border-right: 30px solid transparent;
  border-top: 25px solid #aeaeae;
  text-align: center;

  p{
    margin-top: -27px;
    font-size: 22px;
  }
}

.foto-button {
  color: white !important;
  width: 200px;
  display: inline-block;
  font-family: 'bebas_neueregular', sans-serif;
  border-left: 30px solid transparent;
  border-bottom: 25px solid @heer-green;
  text-align: center;

  p{
    margin-bottom: -29px;
    font-size: 22px;
    margin-top: 0;
  }
}

.foto-button-empty{
  color: white !important;
  width: 200px;
  display: inline-block;
  font-family: 'bebas_neueregular', sans-serif;
  border-left: 30px solid transparent;
  border-bottom: 25px solid #aeaeae;
  text-align: center;

  p{
    margin-bottom: -29px;
    font-size: 22px;
    margin-top: 0;
  }
}
.fancybox{
  margin-bottom: 5px;
}